
    .container {
        width: 1200px;
        margin: 0 auto;
        background: #fff; // height: 800px;
    }

    .first-card {
       padding: 40px 0 30px 0;
       margin-top: 30px;
       border-bottom: 3px solid #f7f7f7
    }
    .second-card{
        padding: 20px 0;
        border-bottom: 30px solid #f7f7f7;
    }
     .desc {
            color: #000;
            /* font-weight: 700;     */
            font-size: 42px;
            margin-left: -18px
        }
        .left-product {
            margin-left: 150px;
            width: 400px;
            color: #666
        }

        .look-detail {
            width: 140px;
            height: 45px;
            margin-left: -15px;
            margin-top: 20px;
            font-weight: 700;
            color: #000;
            background: #ffd04b;

            border-radius: 20px;

        }

        .left-product ul {
            margin-top: 20px;
            li {
                line-height: 2.5;
                font-size: 20px;
            }
        }
        .img001 {
            width: 400px;
            height: 300px;
            margin-right: 80px;
        }
    .box {
        width: 385px;
        text-align: left;
        .title-box {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            padding: 30px 0;
            color: #555;
        }
    }

    .img02 {
        width: 385px;
    }

    .box-detail {
        width: 260px;
        margin-left: 70px;
        color: #999
    }

    .second-card {
        margin-bottom: 20px;
    }
    .second-desc{
        margin-right: 80px;
    }