.container-warp {
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}

.content {
    background: #fff;
    padding: 10px 0;
}

.bread {
    padding:20px 0;
    font-size: 14px;
    font-family: "PingFang";
    color: rgb( 153, 153, 153 );
    font-weight: bold;
      a{
        color: rgb( 153, 153, 153 );
      } 
  }

.item {
    margin: 0 20px;
    padding: 20px;
}

.item:hover{
    background-color: #ffc71b;
    .card-content {
        color: #000
    }
    .card-arrows{
        color: #000;
    }
}

.right-news {
    .news-title {
        color: #333;
        font-size: 18px;
        font-weight: bold;
        padding: 30px 0 10px;

    }
    .news-content {
        color: #595959
    }
    .to{
        font-size: 24px;
        color: #999;
    }
} 
    .card-right {
      width: 419px;
      padding-left: 30px;
    }
    .card-title {
      font-weight: 600;
      font-size: 18px;
    }
    .card-content {
      font-size: 14px;
      line-height: 1.5;
      color: #999;
      padding: 15px 0;
    }
    .card-arrows {
      font-size: 24px;
      color: #999;
    }
    .box {
      margin-top: 20px;
      .date {
        font-size: 24px;
        font-family: "PingFang";
        color: rgb( 33, 33, 33 );
        font-weight: bold;
      }
      .year {
        font-size: 18px;
        font-family: "PingFang";
        color: rgb( 33, 33, 33 );
      }
    }
    .btn3 {
      margin: 30px 0 20px 280px;
    }

// 分页
.page {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}