li{
  list-style: none;
}
.call-item {
  padding-top: 30px;
}
.call {
  margin-bottom: 40px;
  background-color: #fff;
  .navbar {
    width: 150px;
    border-top: solid 10px #000;
    .nav-item {
      margin:0 13px;
      padding:30px 0;
      border-bottom:solid 1px #ebdddd;;
      text-align: center;
      cursor: pointer;
    }
    .nav-item:hover {
      color: rgb(252, 200, 0);
    } 
    .nav-img {
      margin-top: 20px;
      background-color: rgb(252, 200, 0);
      img {
        padding: 20px;
      }
      div {
        font-size: 16px;
        font-family: "Microsoft YaHei";
        color: rgb( 33, 33, 33 );
        text-align: center;
      }
      .nav-phone {
        padding-top: 15px;
        padding-bottom: 25px;
      }
    }
  }
    .call-top {
      font-size: 16px;
      font-family: "Microsoft YaHei";
      color: rgb( 33, 33, 33 );
      font-weight: bold;
      padding-bottom: 20px;
      border-bottom: solid 4px #000;
    }
    .call-date {
      text-align: center;
      padding:0 30px 0 20px; 
      box-sizing: border-box;
      .date{
        font-size: 28px;
        font-family: "PingFang";
        color: rgb( 102, 102, 102 );
        font-weight: bold;
        padding: 10px 0;
      }
      .year {
        font-size: 16px;
        font-family: "PingFang";
        color: rgb( 153, 153, 153 );
      }
    }
    .call-text {
      width: 875px;
      .call-title {
        font-size: 16px;
        font-family: "PingFang";
        color: rgb( 33, 33, 33 );
        font-weight: bold;
        text-align: left;
        padding-bottom: 20px;
      }
      .call-content {
        font-size: 14px;
        font-family: "PingFang";
        color: #999;
        line-height: 1.5;
        padding-bottom: 30px;
        border-bottom: solid 1px #ebdddd;
      }
    }
    #container {
      height: 355px;
      width: 990px;
      margin-top: 25px;
    }
    .call-black {
      width: 420px;
      height: 300px;
      background-color: rgb(44,44,44);
      padding: 20px;
      box-sizing: border-box;
      position: absolute;
      z-index: 998;
      top:  210px;
      left: 600px;
      .title {
        color: #fff;
        font-size: 24px;
        font-family: "PingFang";
        font-weight: bold;
        padding-bottom: 15px;
      }
      .content {
        font-size: 16px;
        font-family: "PingFang";
        color: rgb( 255, 255, 255 );
        line-height: 2.25;
      }
    }
    .people {
      margin-top: 30px;
      font-size: 24px;
      font-family: "PingFang";
      color: rgb( 44, 44, 44 );
      font-weight: bold;
    }
    .phone-card {
      margin-top: 85px;

      .card-item {
        position: relative;
        width: 300px;
        height: 280px;
        background-color: rgb(247,247,247);
        .card-img {
          width: 85px;
          height: 85px;
          border-radius: 50%;
          background-color: #f1f1f1;
          position: absolute;
          top: -40px;
          left: 30px;
        }
        .name {
          margin-left: 130px;
          padding-top:10px; 
        }
      }
      .card-center {
        margin: 0 45px;
      }
    }
  }


.phone {
  margin-top: 30px;
  .phone-img {
    margin:0 20px;
  }
  .phone-num {
    margin-top: 10px;
  }
}
.email {
  margin-top: 20px;
  .email-img {
    margin:0 20px;
  }
  .email-num {
    margin-top: 10px;
  }
}
.local {
  margin-top: 20px;
  .local-img {
    margin:0 20px;
  }
  .local-num {
    width: 220px;
    margin-top: 10px;
  }
}

.page-bar {
  text-align: center;
  padding-top: 40px;
}
